/* Расширяем центральную колонку */
.content, .post {
  max-width: 1050px;   /* можно менять */
  margin-left: 1rem;      /* центрируем */
  /*margin-right: 0rem;      /* центрируем */
}

/*Блок описания уведомлений*/
.notice {
  padding: 1rem;
  border-left: 5px solid;
  margin: 1rem 0;
  border-radius: 4px;
  font-size: 0.8rem;
  font-style: italic;
}
.notice-icon {
    font-size: 1rem; /* всегда 20px, не меняется */
    font-style: normal;
}
.notice-info { border-color: #2b7cff; background: rgba(43,124,255,0.1); }
.notice-note { border-color: #6c757d; background: rgba(108,117,125,0.1); }
.notice-warning { border-color: #f0ad4e; background: rgba(240,173,78,0.1); }
.notice-error { border-color: #d9534f; background: rgba(217,83,79,0.1); }